<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      О проекте
    </div>
    <div class="card-body">
      <p>Сайт посвященный казахстанской культуре, истории, нацеленный на популяризацию отечественных ценностей и формирование нового патриотизма и идентичности</p>
      <div class="bd-example">
        <dl class="row">
          <dt class="col-sm-3">Авторы</dt>
          <dd class="col-sm-9">Makhanov Madiyar<br/> Zhannur Beishen <br/>Amanzholova Limara <br/>Chalyshkan Salikha</dd>


        </dl>
      </div>
    </div>
  </div>
</div>
