<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0">
              <button type="button" class="btn btn-outline-success disabled">Мои посты</button>
              &nbsp;&nbsp;
              <button type="button"  onClick="window.open('#/v0/add', '_self')" class="btn btn-primary">Добавить пост</button>
            </div>
        </div>
        <div class="card-body">

          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>Автор</th>
              <th class="text-center">Заголовок</th>
              <th class="text-center">Категории</th>
              <th class="text-center">Просмотры</th>
              <th class="text-center">Лайки</th>
              <th class="text-center">Дизлайки</th>
              <th class="text-center">Дата</th>
              <th class="text-center">Контент</th>
              <th class="text-center">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </td>
              <td>
                <div>Маханов Мадияр</div>
              </td>
              <td class="text-center">
                «Әлем Барысылдпарвыпоропа»
              </td>
              <td class="text-center">
                Спорт
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                59 / 56
              </td>
              <td class="text-center">
                10.10.2019
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-block">Просмотреть</button>
              </td>
              <td class="text-center">
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-danger">Действия</button>
                  <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">Изменить</a></li>
                    <li role="menuitem"><a class="dropdown-item">Удалить</a></li>
                    <li role="menuitem"><a class="dropdown-item">Скрыть</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </td>
              <td>
                <div>Маханов Мадияр</div>
              </td>
              <td class="text-center">
                Yндістанның софтпен қамту саласы. Әлемде жоқ 4 фактор
              </td>
              <td class="text-center">
                Другое
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                59 / 56
              </td>
              <td class="text-center">
                10.10.2019
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-block">Просмотреть</button>
              </td>
              <td class="text-center">
                <div class="btn-group" dropdown>
                  <button type="button" class="btn btn-danger">Действия</button>
                  <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">Изменить</a></li>
                    <li role="menuitem"><a class="dropdown-item">Удалить</a></li>
                    <li role="menuitem"><a class="dropdown-item">Скрыть</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-xs-12 col-12 d-sm-down-none">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0">
            <button type="button" class="btn btn-outline-success disabled">Все посты</button>
          </div>
        </div>

        <div class="card-body">

          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
            <tr>
              <th class="text-center"><i class="icon-people"></i></th>
              <th>Автор</th>
              <th class="text-center">Заголовок</th>
              <th class="text-center">Категории</th>
              <th class="text-center">Просмотры</th>
              <th class="text-center">Лайки</th>
              <th class="text-center">Дизлайки</th>
              <th class="text-center">Дата</th>
              <th class="text-center">Контент</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </td>
              <td>
                <div>Zhannur Beishen</div>
              </td>
              <td class="text-center">
                ҚР Тұңғыш Президенті күні
              </td>
              <td class="text-center">
                Казахстан
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                59 / 56
              </td>
              <td class="text-center">
                10.10.2019
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-block">Просмотреть</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
              </td>
              <td>
                <div>Amanzholova Limara</div>
              </td>
              <td class="text-center">
                «Менің туым – менің отаным!»
              </td>
              <td class="text-center">
                Родина
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                2569
              </td>
              <td class="text-center">
                59 / 56
              </td>
              <td class="text-center">
                10.10.2019
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-block">Просмотреть</button>
              </td>
            </tr>

            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-xs-12 col-12 d-sm-down-none">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
