<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Изменить пароль</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Статус</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input1" name="disabled-input" class="form-control" placeholder="Администратор" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="disabled-input1">E-mail</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input3" name="disabled-input" class="form-control" placeholder="makhanovable@gmail.com" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Фамилия</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Маханов">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Имя</label>
              <div class="col-md-9">
                <input type="text" id="text-input2" name="text-input" class="form-control" placeholder="Мадияр">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Фото профиля</label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="file-input">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>
