<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Статистика
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                <div class="callout callout-info">
                  <small class="text-muted">Все пользователи</small>
                  <br>
                  <strong class="h4">4</strong>
                </div>
              </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Посты</small>
                    <br>
                    <strong class="h4">7</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">

            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Просмотры</small>
                    <br>
                    <strong class="h4">56</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Лайки / Дизлайки</small>
                    <br>
                    <strong class="h4">20 / 4</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>ТОП-10 Пользователей</th>
                <th class="text-center">Посты</th>
                <th class="text-center">Просмотры</th>
                <th class="text-center">Лайки / Дизлайки</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Маханов Мадияр</div>
                </td>
                <td class="text-center">
                  <strong>3</strong>
                </td>
                <td class="text-center">
                  <strong>20</strong>
                </td>
                <td class="text-center">
                  <strong>10 / 3</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Chalyshkan Salikha</div>
                </td>
                <td class="text-center">
                  <strong>1</strong>
                </td>
                <td class="text-center">
                  <strong>16</strong>
                </td>
                <td class="text-center">
                  <strong>7 / 1</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Amanzholova Limara</div>
                </td>
                <td class="text-center">
                  <strong>2</strong>
                </td>
                <td class="text-center">
                  <strong>10</strong>
                </td>
                <td class="text-center">
                  <strong>7 / 0</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Zhannur Beishen</div>
                </td>
                <td class="text-center">
                  <strong>1</strong>
                </td>
                <td class="text-center">
                  <strong>10</strong>
                </td>
                <td class="text-center">
                  <strong>6 / 0</strong>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
